
.container-login-image{
    background-image: url("/src/assets/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.container-form-dates #email{
    margin-bottom: 1.3rem;
}

.container-form-dates input[type="email"], .container-form-dates input[type="password"], .container-form-dates input[type="text"]{
    padding: 0.5rem 0.7rem;
    border-bottom: 1px solid gray;
    outline: none;
}

.container-form-dates input[type = "submit"], .container-form-dates-buttons button{
    padding: 0.5rem 1.4rem;
    border-radius: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #FFFFFF;
    background: #FFA16C;
    cursor: pointer;
}

.container-form-dates input[type = "submit"]:hover, .container-form-dates-buttons button:hover{
    background: #FFFFFF;
    color: #FFA16C;
    border: 1px solid #FFA16C;
}

.container-form-dates-buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.8rem;
}


@media  screen and (max-width: 900px) {

    .container-form-dates-buttons{
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    .container-form-dates-buttons input{/*Okk*/
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 650px) { /**/

    .container-login-image {
        background-image: none;
    }
}
